@media (min-width: 1300px) {
  footer {
    height: 30vh;
  }

  .imagem-introdutoria {
    height: 75vh;

    position: relative;
  }

  .imagem-introdutoria > img {
    height: 100%;
  }

  .imagem-introdutoria > h2 {
    padding: 4px 8px;
  }

  .paragrafo-introdutorio {
    width: 65%;
  }

  .wrapper-formulario {
    height: 100vh;

    flex-direction: row;
  }
  .formulario-esquerda {
    height: 100%;
  }
  .formulario-esquerda-lista-contatos {
    margin-top: 60%;
  }

  .form-input-default::placeholder {
    font-size: 1.25rem;
  }

  .area-integrantes {
    flex-direction: row;

    gap: 64px;
  }

  .lista-emergencias {
    row-gap: 24px;

    width: 88%;
  }


  .conteudo-emergencia {
    margin-bottom: 3%;
    padding: 0;

    height: fit-content;
  }
  .opcoes-emergencia {
    flex-direction: row;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  .item-emergencia {
    min-height: 12vh;

    padding: 4px 16px;
  }

  .pergunta-frequente {
    width: 85%;
  }

  .paragrafo-pergunta-frequente {
    font-size: 1.35rem;
  }

  .conteudo-checklist {
    width: 85%;

    grid-template-columns: 1fr 1fr 1fr;
  }


  .etapa-tutorial {
    grid-template-columns: 1fr 3fr;
  }
  .imagem-etapa-tutorial {
    height: 75%;
  }
}
