@media (min-width: 600px) {
    .navbar-links {
        width: 75%;

        border-radius: 0 0 15px 15px;

        left: 41%;
    }

    .navbar-links-open {
        top: 10dvh;
    }

    .navbar-links ul a li {
        font-size: 1.35rem;
    }


    footer {
        height: 20vh;
    }

    .superior-footer {
        width: 85%;
        height: 55%;

        top: -35%;
    }

    .esquerda-superior-footer {
        width: 60%;

        padding: 16px 0;
        padding-left: 24px;
    }

    .esquerda-superior-footer>h3 {
        font-size: 1.25rem;

        margin-bottom: 4;

        font-weight: bolder;
    }

    .esquerda-superior-footer>p {
        font-weight: 400;

        font-size: 1rem;
    }

    .direita-superior-footer {
        width: 40%;
    }
    .direita-superior-footer > a {

        font-size: 1.35rem;
    }

    .inferior-footer {
        padding: 8px 48px;
    }
    .inferior-footer > h3 {
        margin: 12px 0;

        font-size: 1.35rem;
    }
    .inferior-footer > h3 > img {
        height: 4vh;
      }
    .inferior-footer>p {
        width: 100%;
        height: 100%;

        font-size: 1rem;
    }

    .imagem-introdutoria {
        height: 42vh;
    }
    .imagem-introdutoria > h2  {
        font-size: 2.25rem;
    }

    .aplicativo-introdutorio {
        padding: 0 64px;
    }
    .paragrafo-introdutorio {
        width: 100%;

        font-size: 1.25rem;
    }

    #tela-celular-contorno {
        display: none;
    }

    .explicacao-app {
        margin-top: 16px;

        width: 60%;
    }

    .lista-emergencias {
        gap: 16px;
    }
    .item-emergencia {
        width: 45%;
    }


    .conteudo-perguntas>img {
        display: none;
    }
    .conteudo-perguntas > .conteudo-perguntas-direita {
        width: 85%;
      
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .pergunta-frequente {
        width: 75%;
    }


    .wrapper-formulario {
        height: fit-content;

        flex-direction: column;
    }

    .formulario-esquerda {
        width: 100%;
    }

    .formulario-direita {
        width: 100%;

        padding: 48px;
    }
    
    .formulario-direita-form {
        grid-template-columns: 1fr;
    }

    .form-input-default::placeholder {
        font-size: 1.25rem
    }

    .form-input-submit {
        height: 6vh;
    }


    .imagem-introdutoria {
        height: 30vh;
    }

    .area-integrantes {
        flex-direction: column;

        margin-top: 32px;
    }

    .card-integrante {
        width: 320px;
        height: 430px;
    }


    .conteudo-emergencia {
        margin-bottom: 45%;
    }

    .opcoes-emergencia {
        flex-direction: column;

        gap: 24px;
    }
}